---
import Layout from "../layouts/Layout.astro";
import Blob01 from "../components/Blob01.tsx";
import Blob02 from "../components/Blob02.tsx";
import Blob03 from "../components/Blob03.tsx";
import Card01 from "../components/Card01.tsx";
import Card02 from "../components/Card02.tsx";
import Card03 from "../components/Card03.tsx";
---

<Layout title="Narozeninová oslava | 25. 5. 2024" description="Přijďte oslavit s námi narozeniny!">
  <main class="bg-gradient-to-br from-[#8E83C9] to-[#3D3FB6] overflow-hidden">
    <div class="p-8 xl:p-20 space-y-8 xl:space-y-20">
			<div class="relative">
				<Card01 client:load />
				<Blob01 client:load />
      </div>
      <div class="relative">
				<Card02 client:visible />
				<Blob02 client:visible />
      </div>
			<div class="relative">
				<Card03 client:visible />
				<Blob03 client:visible />
      </div>
    </div>
  </main>
</Layout>
